<li class="nav-item dropdown show">
    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Admin</a>
    <div class="dropdown-menu">
        <a href="">Categories</a>
        <a href="">Users to Categories</a>
        <a href="">Media Types</a>
    </div>
</li>